html,
body,
header,
.view {
	height: 100%;
	background: url(../img/bg.jpg) no-repeat center center fixed;
	background-size: cover;
}

main .container {
	background-color: white;
	opacity: 0.9;
	padding-top: 20px;
	padding-bottom: 50px;
}

.img-fluid {
	height: 350px;
}

#m-design {
	margin-bottom: 30px;
}


.navbar {
	background-color: rgba(0, 0, 0, 0.5);
}

.top-nav-collapse {
	background-color: rgba(0, 0, 0, 0.9);
}


@media(max-width: 768px) {

	html,
	body,
	header,
	.view {
		height: 100%;
	}
	
	.full-page-intro {
		height: 1000px;
	}
	
	.header-pading{
		margin-bottom: 250px;
	}
}


.page-footer {
	background-color: rgba(0, 0, 0, 1);
}

.heigth-15{
	height: 15px;
}

.avatar img{
	width: 220px;
	height: 250px;
}
